<div class="container">
  <div class="row">
    <h1>New Book</h1>

    <%= form_for(@book_image) do |f| %>
    <%= render'layouts/error_messages', model: f.object %>

      <h4>Title</h4>
      <%= f.text_field :title %>

      <h4>Opinion</h4>
      <%= f.text_area :body %><br>

      <%= attachment_image_tag book_image, :image, fallback: 'no_image.jpg', onClick: "$('#image').click()", id: :image_prev %>
      <%= f.file_field :image, id: :image %>

      <%= f.submit 'Create Book', class: 'btn btn-default' %>

    <% end %>
  </div>
</div>